header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

header ul {
  display: flex;
  gap: 1.5em;
  padding: 1em;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  transition: 400ms;
}

header a:hover {
  border-bottom: 1px solid #5d5dbe;
  font-weight: 500;
}

header h1 {
  letter-spacing: 0.2em;
}
