#skills {
  margin-inline: auto;
  max-width: 75em;
}

.competence ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
}

.list-skills {
  display: flex;
  flex-direction: column;
  background-color: #4b4bcf;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
}

@media (min-width: 23.438em) and (max-width: 43.75em) {
  .competence ul {
    display: grid;
    width: 20em;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-inline: auto;
  }
}
